SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database

DB_NAME=shadow_shop
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

# Cloudflare R2
USE_R2_STORAGE=False
R2_ACCESS_KEY_ID=your-r2-access-key-id
R2_SECRET_ACCESS_KEY=your-r2-secret-access-key
R2_BUCKET_NAME=shadow-shop
R2_ENDPOINT_URL=https://your-account-id.r2.cloudflarestorage.com
R2_PUBLIC_URL=https://your-public-r2-domain.example.com

# Telegram Bot

TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_BOT_USERNAME=your_bot_username
TELEGRAM_CHAT_ID=your-chat-id

# Bakong KHQR
BAKONG_TOKEN=your-bakong-token
BAKONG_ACCOUNT_ID=your_bakong_account@bank
BAKONG_MERCHANT_NAME=Shadow Shop
BAKONG_MERCHANT_CITY=Phnom Penh
BAKONG_CURRENCY=USD
BAKONG_EXPIRATION_MINUTES=5
BAKONG_IS_TEST=True
BAKONG_CHECK_API_URL=

#ABA
ABA_PAYWAY_MERCHANT_ID=your-aba-merchant-id
ABA_PAYWAY_API_KEY=your-aba-api-key
# True for testing, False for live
ABA_PAYWAY_IS_SANDBOX=True
BACKEND_URL=http://localhost:8000

# Google Maps
GOOGLE_MAPS_API_KEY=your-google-maps-api-key

# Google Sign-In
GOOGLE_OAUTH_CLIENT_ID=your-google-oauth-client-id.apps.googleusercontent.com

# Redis (for Celery)
REDIS_URL=redis://localhost:6379/0

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# Frontend URL
FRONTEND_URL=http://localhost:5173
