SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=False
ALLOWED_HOSTS=shadow-shop.online,www.shadow-shop.online,15.235.209.51
DJANGO_LOG_FILE=/var/log/shadow_shop/django.log

# Database

DB_NAME=shadow_shop
DB_USER=shadow_user
DB_PASSWORD=shadow1@2@3
DB_HOST=localhost
DB_PORT=3306

# Cloudflare R2
USE_R2_STORAGE=True
R2_ACCESS_KEY_ID=62a595ff0b9f6b531af76f2ce786b6fe
R2_SECRET_ACCESS_KEY=47062fb77869ebe3ed951df6a1613775630e7ffa9806349e13165a3c230dbf81
R2_BUCKET_NAME=shadow-shop
R2_ENDPOINT_URL=https://883e51be5fb2549ab2fe3d20d81f4895.r2.cloudflarestorage.com
R2_PUBLIC_URL=https://pub-fecb032bacad46159a072dd4c58a6e98.r2.dev

# Telegram Bot

TELEGRAM_BOT_TOKEN=8836158101:AAGMEoljlrGxsbhYkXLt1JFJm95JDC9s7VE
TELEGRAM_BOT_USERNAME=shadow_shop_fast_bot
TELEGRAM_CHAT_ID=your-chat-id

# Bakong KHQR
BAKONG_ACCOUNT_ID=sovandara_chim@aclb
BAKONG_MERCHANT_NAME=Shadow Shop
BAKONG_MERCHANT_CITY=Phnom Penh
BAKONG_CURRENCY=USD
BAKONG_EXPIRATION_MINUTES=2
BAKONG_IS_TEST=False
BAKONG_CHECK_API_URL=

#ABA
ABA_PAYWAY_MERCHANT_ID=ec478432
ABA_PAYWAY_API_KEY=bab90964a9beea0a04fed64a9fc46f21829352e1
# True for testing, False for live
ABA_PAYWAY_IS_SANDBOX=False
BACKEND_URL=https://shadow-shop.online

# Google Maps
GOOGLE_MAPS_API_KEY=your-google-maps-api-key

# Google Sign-In
GOOGLE_OAUTH_CLIENT_ID=your-google-oauth-client-id.apps.googleusercontent.com

# CORS
CORS_ALLOWED_ORIGINS=https://shadow-shop.online,https://www.shadow-shop.online
CSRF_TRUSTED_ORIGINS=https://shadow-shop.online,https://www.shadow-shop.online

# Frontend URL
FRONTEND_URL=https://shadow-shop.online/
